<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div class="form-block">
        <h1>Form</h1>

        <form method="post" action="http://localhost:5000/">
            <div class="name-block">
                <label for="name">Name</label>
                <input type="text" name="name" id="name">
            </div>
            <div class="email-block">
                <label for="email">email</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="phone-block">
                <label for="phone">Phone Number</label>
                <input type="text" name="phone" id="phone">
            </div>

            <button>Submit</button>
        </form>
    </div>

</body>
</html>
